body {
	margin: 0;
	padding: 0;
	/*padding-bottom: 100px;*/
}
#container {

}
#sketchpad {
	background-color: #FFFFFF;
	border: 1px solid #000;
	margin-top: 6px;
}
#clear {
	width: 50px;
}
#canvas-holder{
	padding: 0 0 0 0;
	text-align: center;
}
#canvas-footer{
	margin-top: 0px;
	padding: 9px 10px 10px;
}
.tools a {
	border: 1px solid black;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	color: black;
	font-weight: bold;
}
#real-clear-canvas{
	display: none;
}
